<!DOCTYPE html>
<html>

<head>
    <title>Women in Tech</title>

	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">

</head>

<body>

	<div id = "start"> 
		<h1 id = "welcome" class="w3-container w3-center w3-animate-left">Choose a Company</h1>

		<div class="w3-container w3-center w3-animate-opacity">
			<button type="button" >Bloomberg</button>
			<a href="slalom.html"><button type="button">Slalom Build</button></a>
			<a href="liberty.html"><button type="button">Liberty Mutual</button></a>	
			<button type="button">Google</button>
			<button type="button">Amazon</button>
		</div>

	</div>

</body>
</html>