<!DOCTYPE html>
<html>

<head>
    <title>Women in Tech</title>

	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">

</head>

<body>
	<div id="description">
	  <img src="{{url_for('static', filename='images/lm.png')}}" alt="Liberty Mutual Logo" height="175" width="215">
	  <p>Liberty Utual is a private American health insurance company that promotes workplace equality.</p>
	</div>


</body>
</html>