<!DOCTYPE html>
<html>

<head>
    <title>Women in Tech</title>

	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">

</head>

<body>
	<div id="description">
	  <img src="{{url_for('static', filename='images/slalom.png')}}" alt="Slalom Build Logo" height="175" width="215">
	  <p>Slalom Build is a service that provides both individuals and companies management and strategy IT implementation. </p>
	</div>


</body>
</html>